@import 'tailwindcss';

@layer base {
  body::-webkit-scrollbar {
    width: 0.55rem;
  }
  body::-webkit-scrollbar-track {
    background-color: #f5f5f5;
  }
  body::-webkit-scrollbar-thumb {
    background-color: #0a2039;
  }
}
